footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1000; }
  footer, footer a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat", Impact, sans-serif;
    font-weight: light;
    opacity: 0.8; }

.reveal pre code {
  font-size: 120%;
  border-radius: 7px; }

ul, ol {
  width: 70%; }

.absolute {
  position: absolute; }

.text-shadow {
  text-shadow: 2px 2px 5px #131313; }

.reveal .slides h1, .reveal .slides h2, .reveal .slides h3 {
  text-shadow: 2px 2px 5px #131313; }
